div.message-content div.physics-tools {
    width: 100%;
    background-color: #F0F0F070;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

div.physics-tools .values {
    opacity: 50%;
    font-size: smaller;
}